/*
 * -------------------------------------------------
 *  genome-annotation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

//process.container = 'shub://ikmb-denbi/genome-annotation:latest'
process.container = "mhoeppner/genome-annotation:latest"

/**********************
   Default parameters
 ***********************/
 
params.proteins = false
params.ESTs = false
params.reads = false

params.trinity = false
params.gth = false
params.RM = true
params.augustus = true
params.funAnnot = true
params.training = false

params.rm_species = false
params.rm_lib = false
//params.model = "human"
params.train_perc = 90
params.train_set = false
params.augCfg = false
params.uniprot = ""

params.nblast = 500
params.nexonerate = 100
params.nrepeats = 20
//params.ninterpro = 200
params.max_intron_size = 20000

// Do not chance this, the script bin/blast2exonerate.pl requires this format!
params.blast_options = "6 qseqid sseqid sstart send slen pident qlen qstart qend length mismatch gapopen evalue bitscore"

params.blast_evalue = 0.00001
params.blast_bitscore = 80

params.singleEnd = false
params.rnaseq_stranded = false
params.outdir = "output"
params.name = false
params.help = false
params.email = false
params.plaintext_email = false

/***************
   Profiles 
 ***************/
 
profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/singularity_ikmb.config'
		includeConfig 'conf/slurm_ikmba.config'
	}
	conda_ikmba {
		includeConfig 'conf/base.config'
		includeConfig 'conf/conda.config'
		includeConfig 'conf/slurm_ikmba.config'
	}
	ikmb_new {
		includeConfig 'conf/base.config'
		includeConfig 'conf/singularity_ikmb.config'
                includeConfig 'conf/slurm_ikmbnew.config'
	}
	conda_ikmbnew {
                includeConfig 'conf/base.config'
                includeConfig 'conf/conda.config'
                includeConfig 'conf/slurm_ikmbnew.config'
	}
	ikmb_dx {
		includeConfig 'conf/base.config'
                includeConfig 'conf/slurm_ikmbdx.config'
	}
	assembly_cluster {
		includeConfig 'conf/base.config'
		includeConfig 'conf/slurm_assemblycluster.config'
	}
	custom_conda {
		includeConfig 'conf/base.config'
		includeConfig 'conf/conda.config'
		includeConfig 'conf/custom.config'
	}
	self_install {
		includeConfig 'conf/base.config'
		includeConfig 'conf/custom.config'
	}
	local {
		includeConfig 'conf/base.config'
	}
	none {
		// Don't load any config (for use with custom home configs)
	}
}


/***********************
    Pipeline Info
 **********************/
 
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_timeline.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_report.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_trace.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_dag.svg"
}

manifest {
	homePage = 'https://github.com/ikmb-denbi/genome-annotation.git'
	description = 'This pipeline annotates an eukaryotic genome de novo with external hints.'
	mainScript = 'main.nf'
	version = '1.0'
	nextflowVersion = '19.01.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
