/*
 * -------------------------------------------------
 *  genome-annotation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params.nextflow_required_version = "0.32.0" // Minimum version of nextflow required
params.version = "0.1.0" // Pipeline version


/**********************
   Default parameters
 ***********************/
 
params.prots = false
params.ESTs = false
params.reads = false

params.trinity = true
params.gth = true
params.RM = true
params.augustus = true
params.funAnnot = true

params.species = "mammal"
params.model = "human"
params.UTR = 'off'
params.isof = 'false'
params.augCfg = false
params.uniprot = false

params.nblast = 500
params.nexonerate = 200
params.nrepeats = 30
params.ninterpro = 200
params.nthreads = 1

params.singleEnd = false
params.outdir = "Hints_annotation_output"
params.allHints = "AllHints.gff"
params.addHints = false
params.name = false


/***************
   Profiles 
 ***************/
 
profiles {
	standard {
		includeConfig 'config/base.config'
		includeConfig 'config/programs.config'
		includeConfig 'config/slurm_ikmba.config'
	}
	conda {
		includeConfig 'config/base.config'
		includeConfig 'config/conda.config'
		includeConfig 'config/slurm_ikmba.config'
	}
	assembly_cluster {
		includeConfig 'config/base.config'
		includeConfig 'config/conda.config'
		includeConfig 'config/slurm_assemblycluster.config'
	}
	custom_conda {
		includeConfig 'config/base.config'
		includeConfig 'config/conda.config'
		includeConfig 'config/custom.config'
	}			
	none {
		// Don't load any config (for use with custom home configs)
	}
}


/***********************
    Pipeline Info
 **********************/
 
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_timeline.html"
}
report {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_report.html"
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_trace.txt"
}
dag {
	enabled = true
	file = "${params.outdir}/pipeline_info/genome-annotation_dag.svg"
}

manifest {
	homePage = 'https://github.com/ikmb-denbi/genome-annotation.git'
	description = 'This pipeline annotates an eukaryotic genome de novo with external hints.'
	mainScript = 'main.nf'
}