/*
 * -------------------------------------------------
 *  genome-annotation Nextflow base config file
 * -------------------------------------------------
 */

process {

	cpus = { 1 * task.attempt }
	memory = { check_max( 8.GB * task.attempt, 'memory') }
	time = { 1.h * task.attempt }

	errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
	maxRetries = 1
	maxErrors = '-1'

	withName:runRepeatModeler {
		cpus = 16
		memory = { check_max(32.GB * task.attempt, 'memory') }	
		time = { check_max(120.h * task.attempt, 'time') }
	}
	withName:runRepeatMasker {
		cpus = { check_max(8 * task.attempt, 'cpus') }
		memory = { check_max(8.GB * task.attempt, 'memory') }
		time = { check_max(10.h * task.attempt, 'time') }
	}
	withName:runMergeRMGenome {
		cpus = { check_max(1 * task.attempt,'cpus') }
                memory = { check_max(4.GB * task.attempt, 'memory') }
                time = { check_max(1.h * task.attempt, 'time') }
	}
	withName:runMinimapEst {
		cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(16.h * task.attempt,'time') }
	}
	withName:runMinimap2Pasa {
                cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(16.h * task.attempt,'time') }
	}
	withName:runMinimapTrinity {
                cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(16.h * task.attempt,'time') }
        }
	withName:runMakeBlastDB {
		cpus = { check_max(1 * task.attempt, 'cpus') }
                memory = { check_max(8.GB * task.attempt, 'memory') }
                time = { check_max(4.h * task.attempt,'time') }
	}
	withName:runBlastProteins {
		cpus = { check_max(1 * task.attempt,'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
	}
	withName:runExonerateProts {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(12.h * task.attempt, 'time') }
	}
	withName:runFastp {
		cpus = { check_max(8 * task.attempt, 'cpus') }
		memory = { check_max(8.GB * task.attempt, 'memory') }
		time = { check_max(4.h * task.attempt, 'time') }
	} 
	withName:runMakeHisatDB {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(8.h * task.attempt , 'time') }
	}
	withName:runHisat2 {
		cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(8.h * task.attempt, 'time') }
	}
	withName:mergeHisatBams {
		cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(120.GB * task.attempt, 'memory') }
                time = { check_max(24.h * task.attempt, 'time') }
	}
	withName:Hisat2Hints {
		cpus = { check_max(2 * task.attempt, 'cpus') }
                memory = { check_max(64.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
	}
	withName:runTrinity {
		cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(120.GB * task.attempt, 'memory') }
                time = { check_max(120.h * task.attempt, 'time') }
	}
	withName:runSeqclean {
		cpus = { check_max(4 * task.attempt, 'cpus') }
                memory = { check_max(16.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
	}
	withName:runPasa {
		cpus = { check_max(8 * task.attempt, 'cpus') }
		memory = { check_max(8.GB * task.attempt, 'memory') }
		time = { check_max(120.h * task.attempt, 'time') }
	}
	withName:runTrainAugustus {
		cpus = { check_max(8 * task.attempt, 'cpus') }
                memory = { check_max(8.GB * task.attempt, 'memory') }
                time = { check_max(480.h * task.attempt, 'time') }
	}
	withName:runAugustus {
                cpus = { check_max(16 * task.attempt, 'cpus') }
                memory = { check_max(8.GB * task.attempt, 'memory') }
                time = { check_max(48.h * task.attempt, 'time') }
        }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 120.GB
  max_cpus = 16
  max_time = 240.h
}
