/*
 * -------------------------------------------------
 *  genome-annotation Nextflow base config file
 * -------------------------------------------------
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

	cpus = { 1 * task.attempt }
	memory = { 8.GB * task.attempt }
	time = { 10.h * task.attempt }

	errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
	maxRetries = 1
	maxErrors = '-1'
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 10.GB
  max_cpus = 1
  max_time = 240.h
}
