// Job paramaters to set for this environment

// Missing: Miniconda2, Java, Nextflow, Annie, GenomeThreader, Interproscan, Bioruby

process {

	container = params.container
	
	withName:RunMakeBlastDB {
		conda = "blast=2.5.0"
		cpus = { 1 * task.attempt ) }
		memory = { 10.GB * task.attempt }
		time = { 24.h * task.attempt }	
	}
  
	withName:RunBlastProts {
		conda = "blast=2.5.0"
		cpus = { params.nthreads * task.attempt }
		memory = { 10.GB * task.attempt }
		time = { 15.h * task.attempt }
	}

	withName:RunExonerateProts {
		conda = "exonerate=2.4.0 perl-bioperl=1.6.924"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}

	withName:RunGenomeThreaderProts {
		cpus = { 1 * task.attempt }
		memory = { 80.GB * task.attempt }
		time = { 72.h * task.attempt }
	}

	withName:RunBlastEST {
		conda = "blast=2.5.0"
		cpus = { params.nthreads * task.attempt }
		memory = { 10.GB * task.attempt }
		time = { 15.h * task.attempt }
	}

	withName:RunExonerateEST {
		conda = "exonerate=2.4.0 perl-bioperl=1.6.924"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:GenomeThreader2HintsProts {
		conda = "genometools-genometools=1.5.10"
	}

	withName:RunRepeatMasker {
		conda = "repeatmasker=4.0.7"
		cpus = { params.nthreads * task.attempt }
		memory = { 30.GB * task.attempt }
		time = { 24.h * task.attempt }
	}

	withName:RunTrimgalore {
		conda = "trim-galore=0.5.0"
		cpus = { 1 * task.attempt }
		memory = { 10.GB * task.attempt }
		time = { 24.h * task.attempt }
	}

	withName:RunMakeHisatDB {
		conda = "hisat2=2.1.0"
		cpus = { params.nthreads * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 30.h * task.attempt }
	}

	withName:RunHisat2 {
		conda = "hisat2=2.1.0 samtools=1.5"
		cpus = { params.nthreads * task.attempt }
		memory = { 20.GB * task.attempt }
		time = { 30.h * task.attempt }
	}
  
	withName:Hisat2Hints {
		conda = "augustus=3.2.3"
		cpus = { 1 * task.attempt }
		memory = { 2.GB * task.attempt }
		time = { 10.h * task.attempt }
	}

	withName:RunTrinity {
		conda = "samtools=1.5 bowtie2=2.3.4.1 trinity=2.5.1"
		cpus = { params.nthreads * task.attempt }
		memory = { 20.GB * task.attempt }
		time = { 24.h * task.attempt }
	}

	withName:RunBlastTrinity {
		conda = "blast=2.5.0"
		cpus = { params.nthreads * task.attempt }
		memory = { 20.GB * task.attempt }
		time = { 24.h * task.attempt }
	}

	withName:RunExonerateTrinity {
		conda = "exonerate=2.4.0 perl-bioperl=1.6.924"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:RunAugustus {
		conda = "augustus=3.2.3"
		cpus = { 1 * task.attempt }
		memory = { 100.GB * task.attempt }
		time = { 120.h * task.attempt }
	}
	
	withName:Augustus2Gff3 {
		conda = "ruby-2.2.3"
		cpus = { 1 * task.attempt }
		memory = { 20.GB * task.attempt }
		time = { 10.h * task.attempt }
	}
	
	withName:Augustus2Proteins {
		conda = "augustus=3.2.3"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 20.h * task.attempt }
	}
	
	withName:RunMakeBlastDBFunAnno {
		conda = "blast=2.5.0"
		cpus = { 1 * task.attempt }
		memory = { 10.GB * task.attempt }
		time = { 24.h * task.attempt }
	}
	
	withName:RunBlastpFunAnno {
		conda = "blast=2.5.0"
		cpus = { params.nthreads * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:RunAnnieBlast {
		conda = "python=3.6.4"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:RunInterproscan {
		conda = ""
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:RunAnnieInterpro {
		conda = "python=3.6.4"
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
	
	withName:RunFunctionsToGFF {
		conda = ""
		cpus = { 1 * task.attempt }
		memory = { 50.GB * task.attempt }
		time = { 40.h * task.attempt }
	}
}
