#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation pipeline custom config file
 * -------------------------------------------------------
 */

executor {
  // change this to the name of your cluster manager:
  name="slurm"
  
  // change this to the queue size allowed in your cluster:
  queueSize=50
}

process {
  
  // change this to the name of your cluster manager:
  executor = 'slurm'
  
  // if there is a specific queue you want to use, change it here. Otherwise, comment out this line with "//":
  queue = 'ikmb_a'
  
  // you can add aditional specifications, like partition name. Comment out this line if it is not necessary or copy and modify it if there are more specifications: 
  clusterOptions = { '--qos=ikmb_a' }

  // default minimum memory for processes: 
  memory = { 8.GB * task.attempt }
  
  // default number of cpus: (it should be one, since you can specify more cpus for the programs that allow it using --nthreads when you call the pipeline)
  cpus = { 1 * task.attempt }
  
  // default allowed time per process:
  time = { 2.h * task.attempt }
  
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
