#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation pipeline custom config file
 * -------------------------------------------------------
 */

executor {
  // change this to the name of your cluster manager (e.g. name = "slurm"):
  name="YOUR_SYSTEM_TYPE"
  
  // change this to the queue size allowed in your cluster (e.g. queueSize = 50):
  queueSize=QUEUE_SIZE
}

process {
  
  // change this to the name of your cluster manager (e.g. executor = 'slurm':
  executor = 'YOUR_SYSTEM_TYPE'
  
  // if there is a specific queue you want to use, change it here (e.g. queue = 'ikmb_a'). Otherwise, comment out this line with "//":
  queue = 'YOUR_QUEUE_NAME'
  
  // you can add aditional specifications, like partition name(e.g. --qos = 'ikmb_a'). Comment out this line if it is not necessary or copy and modify it if there are more specifications: 
  clusterOptions = { '--qos=YOUR_PARTITION_NAME' }

  // default memory for processes (e.g. 8.GB * task.attempt): (most process are allowed larger memory in a specific manner in other config files)
  memory = { X.GB * task.attempt } 
  
  // default number of cpus (e.g. 1 * task.attempt): (it should be 1, since you can specify more cpus for the programs that allow it using --nthreads when you call the pipeline)
  cpus = { X * task.attempt }
  
  // default allowed time per process (e.g. 2.h * task.attempt): (most process are allowed longer times in a specific manner in other config files)
  time = { X.h * task.attempt }
  
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
