#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation pipeline custom config file
 * -------------------------------------------------------
 */

executor {
  // change this to the name of your cluster manager (e.g. name = "slurm"):
  name="YOUR_SYSTEM_TYPE"
  
  // change this to the queue size allowed in your cluster (e.g. queueSize = 50):
  queueSize=QUEUE_SIZE
}

process {
  
  // change this to the name of your cluster manager (e.g. executor = 'slurm':
  executor = 'YOUR_SYSTEM_TYPE'
  
  // if there is a specific queue you want to use, change it here (e.g. queue = 'ikmb_a'). Otherwise, comment out this line with "//":
  queue = 'YOUR_QUEUE_NAME'
  
  // you can add aditional specifications, like partition name(e.g. --qos = 'ikmb_a'). Comment out this line if it is not necessary or copy and modify it if there are more specifications: 
  clusterOptions = { '--qos=YOUR_PARTITION_NAME' }
}
