#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation Nextflow slurm at NBIS config file
 * -------------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=100
}

process {

  executor = 'slurm'
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

}

singularity {
	enabled = true
	runOptions = "-B /scratch"
}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 240.h
}
