#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  NF-hints Nextflow slurm at IKMB config file
 * -------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=10
}

process {
  
  executor = 'slurm'

  $RunRepeatMasker {
  	cpus = { 3 * task.attempt }
  	memory = { 30.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }
}
