#!/usr/bin/env nextflow

/*
 * -----------------------------------------------------------------
 *  NF-hints Nextflow slurm High Memory cluster at IKMB config file
 * -----------------------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=10
}



process {
  
  executor = 'slurm'
  cpus = { 1 * task.attempt }
  memory = { 3.GB * task.attempt }
  time = { 10.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  $RunMakeBlastDB {
  	cpus = {  1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunBlastProts {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $RunExonerateProts {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }

  $RunGenomeThreaderProts {
  	cpus = { 1 * task.attempt }
  	memory = { 80.GB * task.attempt }
  	time = { 72.h * task.attempt }
  }

  $RunBlastEST {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $RunExonerateEST {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }

  $RunRepeatMasker {
  	cpus = { params.nthreads * task.attempt }
  	memory = { 30.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $runFastqc {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $runTrimgalore {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunMakeHisatDB {
  	cpus = { params.nthreads * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 30.h * task.attempt }
  }

  $RunHisat2 {
  	cpus = { params.nthreads * task.attempt }
  	memory = { 20.GB * task.attempt }
  	time = { 30.h * task.attempt }
  }

  $runTrinity {
  	cpus = { params.nthreads * task.attempt }
  	memory = { 20.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunBlastTrinity {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $RunExonerateTrinity {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }
}
