#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  NF-hints Nextflow slurm at IKMB config file
 * -------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=10
}

$cpu.tasks = params.nthreads

process {
  
  executor = 'slurm'
  //queue = 'ikmb_a'
  //clusterOptions = { '--qos=ikmb_a' }
  memory = { 3.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  container = params.container

  $RunMakeBlastDB {
  	cpus = {  1 task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunBlastProts {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $Blast2QueryTargetProts {

  }

  $RunExonerateProts {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }

  $Exonerate2HintsProts {

  }

  $RunGenomeThreaderProts {
  	cpus = { 1 * task.attempt }
  	memory = { 80.GB * task.attempt }
  	time = { 72.h * task.attempt }
  }

  $GenomeThreader2HintsProts {

  }

  $RunBlastEST {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $Blast2QueryTargetEST {

  }

  $RunExonerateEST {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }

  $Exonerate2HintsEST {

  }

  $RunRepeatMasker {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 30.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RemoveHeaderRepeatMasker {

  }

  $CleanRepeatMasker {

  }

  $RepeatMasker2Hints {

  }

  $runFastqc {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $runTrimgalore {
  	cpus = { 1 * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunMakeHisatDB {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 30.h * task.attempt }
  }

  $RunHisat2 {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 20.GB * task.attempt }
  	time = { 30.h * task.attempt }
  }

  $Hisat2Hints {

  }

  $runTrinity {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 20.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

  $RunBlastTrinity {
  	cpus = { $cpu.tasks * task.attempt }
  	memory = { 10.GB * task.attempt }
  	time = { 15.h * task.attempt }
  }

  $BlastTrinity2QueryTarget {

  }

  $RunExonerateTrinity {
  	cpus = { 1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 40.h * task.attempt }
  }

  $Exonerate2HintsTrinity {

  }

}
