#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation Nextflow slurm at IKMB config file
 * -------------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=50
}

process {
  
  executor = 'slurm'
  queue = 'ikmb_new'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

}

singularity {
	enabled	= true
        runOptions = "-B /ifs -B /work_beegfs -B /scratch"
        cacheDir = "/ifs/data/nfs_share/ikmb_repository/singularity_cache/"
}

params {
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
}
