#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  NF-Augustus Nextflow slurm at IKMB config file
 * -------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=30
}

process {
  
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 3.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  $runAugustus1 {
  	cpus = {  1 * task.attempt }
  	memory = { 50.GB * task.attempt }
  	time = { 24.h * task.attempt }
  }

 }
