#!/usr/bin/env nextflow

/*
 * ---------------------------------------------------------------------------
 *  genome-annotation Nextflow slurm High Memory cluster at IKMB config file
 * ---------------------------------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=50
}

process {
  
  executor = 'slurm'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

}
