#!/usr/bin/env nextflow

/*
 * -------------------------------------------------------
 *  genome-annotation Nextflow slurm at IKMB config file
 * -------------------------------------------------------
 */

executor {
  name="slurm"
  queueSize=50
}

process {

  executor = 'slurm'
  queue = 'test'
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

}

singularity {
	enabled = true
	runOptions = "-B /work_ifs -B /scratch"
	cacheDir = "/work_ifs/ikmb_repository/singularity_cache/"
}

params {
  max_memory = 120.GB
  max_cpus = 16
  max_time = 120.h
}
